<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1>Welcome to Admin All Page</h1>
<ul>
    <li><a href="/convent/main">Lista konwentów</a> - Opisane jako "Lista konwentów"</li>
    <li><a href="/convent/add">Dodawanie konwentu</a> - Opisane jako "Dodawanie konwentu"</li>
</ul>

<script src="adminall.js"></script>
</body>
</html>