<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Konwentów</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<h1>Lista Konwentów</h1>

<!-- Tutaj będzie lista konwentów, którą będziemy ładować za pomocą JavaScript -->
<ul id="conventList">
    <!-- Lista konwentów zostanie wygenerowana tutaj przez JavaScript -->
</ul>

<script src="../static/js/conventmain.js"></script>
</body>
</html>