<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Konwent</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<h1>Dodaj Nowy Konwent</h1>
<form id="conventForm">
    <label for="name">Nazwa Konwentu:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="date">Data Konwentu (DD-MM-YYYY):</label><br>
    <input type="text" id="date" name="date" title="Wprowadź datę w formacie DD-MM-YYYY"><br>
    <label for="tag">Wybierz Tag:</label><br>
    <select id="tag" name="tag">
        <!-- Options będą generowane dynamicznie przez JavaScript -->
    </select><br><br>
    <button type="submit">Dodaj Konwent</button>
</form>
<script src="../static/js/conventadd.js"></script>
</body>
</html>