<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wybierz Tagi</title>
</head>
<body>
<h1>Wybierz Tagi</h1>
<form id="tagsForm" action="/usertagslist" method="post">
    <label for="postapo">Postapo</label>
    <input type="checkbox" id="postapo" name="tags" value="postapo" checked><br>
    <label for="fantasy">Fantasy</label>
    <input type="checkbox" id="fantasy" name="tags" value="fantasy" checked><br>
    <label for="battlelarp">Battlelarp</label>
    <input type="checkbox" id="battlelarp" name="tags" value="battlelarp"><br>
    <label for="high_larpowek">High Larpówek</label>
    <input type="checkbox" id="high_larpowek" name="tags" value="high_larpowek"><br>
    <label for="cyberpunk">Cyberpunk</label>
    <input type="checkbox" id="cyberpunk" name="tags" value="cyberpunk" checked><br>
    <label for="reko">Reko</label>
    <input type="checkbox" id="reko" name="tags" value="reko"><br>
    <label for="steampunk">Steampunk</label>
    <input type="checkbox" id="steampunk" name="tags" value="steampunk"><br>
    <label for="chamber">Chamber</label>
    <input type="checkbox" id="chamber" name="tags" value="chamber" checked><br>
    <label for="gra_miejska">Gra Miejska</label>
    <input type="checkbox" id="gra_miejska" name="tags" value="gra_miejska"><br><br>
    <button type="submit">Wybierz Tagi</button>
</form>
</body>
</html>