<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Panel Home</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1>Welcome to User Panel Home</h1>
<!-- Dodaj swoje treści tutaj -->

<div class="buttons">
    <a href="/userlogin" class="button">Login</a>
    <a href="/userregister" class="button">Register</a>
</div>

<script src="userpanelhome.js"></script>
</body>
</html>